* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  height: 100vh;
  width: 100%;
  padding: 0px 20px;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 10% auto 20%;
  grid-gap: 2px;
  grid-template-areas:
    "navBar navBar navBar navBar"
    "contentSection contentSection contentSection contentSection"
    "footer footer footer footer";
}

.nav-bar {
  grid-area: navBar;
  background-color: grey;
}

.content {
  grid-area: contentSection;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "leftSideBar mainContent mainContent mainContent";
}

.left-sidebar {
  grid-area: leftSideBar;
  background-color: #ff3d5c;
}

.main-content {
  grid-area: mainContent;
  background-color: #7f1d3a;
}

.footer {
  grid-area: footer;
  background-color: #f67e7d;
}
