* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper-left {
  background-color: tomato;
  padding: 4%;
  height: 100%;
  width: 100%;
}

.wrapper-left ul {
  list-style-type: none;
  margin-top: 50%;
  transform: translateY(-15%);
}

.wrapper-left li {
  padding: 10%;
  border-bottom: 5px solid grey;
}

.wrapper-left li:first-child {
  border-top: 5px solid grey;
}

.wrapper-left li a {
  text-decoration: none;
  color: white;
  font-size: 28px;
  font-weight: bolder;
}
