* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  background-color: grey;
  padding: 2%;
  height: 100%;
  width: 100%;
}

.wrapper ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.wrapper ul li {
  padding: 5px 12px;
}

.wrapper ul li a {
  text-decoration: none;
  color: white;
  font-weight: bolder;
}
